* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline:none;
}
:root {
  --bg-color: white;
}

body {
  height: 100vh;
  background: var(--bg-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position:relative;
}

#my-video {
  box-shadow: 0 0 20px 0px black;
  min-width:80%;
  min-height:50%;
}

/* $primaryColor: #444;
$secondaryColor: #333; */

.contentMenu{
  position: relative;
  width:4em;
  .icon{
    width: 100%;
    bottom:0;
    position:absolute;
    padding:10px;
    text-align:center;
    color:white;
    &:hover{
      cursor:pointer;
      color:gray;
      
      & + .menu{
        .item{   
        }
       
      transform:translate(-50%,-30px);
        visibility:visible;
        opacity:1;
      }
      
    }
  }
  
  .menu {
    position:absolute;
    bottom:20px;
    left:50%;

    transition:all 200ms;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100px;
    
    transform:translate(-50%,-20px);
    visibility:hidden;
    opacity:0;
    &:hover{
      transform:translate(-50%,-30px);
        visibility:visible;
        opacity:1;
    }
    &:after{
      content:'';
      position:absolute;
      width: 0; 
      height: 0; 
      bottom: -15px;
      left: calc(50% - 15px);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #333;
    }
  }
  
}



#auto {
  background:$secondaryColor;
  .current{
    font-size:10px;
    margin-left:3px;
    &:before{
      margin-left:-3px;
      content:'(';
      position:absolute;
    }
    &:after{
      content:')';
      position:absolute;
    }
    
  }
}

.item {
  position: relative;
  text-align: center;
  border: 0;
  padding: 10px;
  background: $primaryColor;

  &.selected {
    background: $secondaryColor;
    font-weight: bold;
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      border-radius: 50%;
      background: #4caf50;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  &:hover {
    background: $secondaryColor;
    cursor: pointer;
    
  }
}
